.App {
  text-align: center;
}
.App .head {
  padding: 30px;

  color: rgb(224, 127, 220);
  font-size: 30px;
  font-weight: 400;
  font-style: italic;
}
footer {
  font-size: 15px;
  color: rgb(104, 103, 103);
}
