.Dictionary {
  color: rgb(83, 83, 83);
  padding-bottom: 50px;
}

.Result {
  padding: 50px;
  text-align: left;
  text-transform: capitalize;
}
.Result h1 {
  color: rgb(192, 175, 148);
}
.btn {
  position: relative;
  top: -2px;
  right: -3px;
}

.Meaning li {
  list-style: circle;
}

.Synonyms {
  color: rgb(163, 150, 128);
  font-weight: bold;
}
.Dictionary section {
  background: rgb(245, 239, 230);
  padding: 30px;
  border-radius: 16px;
  margin: 10px 0;
}
