.Dictionary {
  color: rgb(83, 83, 83);
  padding-bottom: 50px;
}

.Result {
  padding: 10px;
  text-align: left;
  text-transform: capitalize;
}
.Result h1 {
  margin-bottom: 20px;
}
.btn {
  position: relative;
  top: -2px;
  right: -3px;
}

.Dictionary section {
  background: white;
  padding: 25px;
  border-radius: 12px;
  margin: 10px 0;
  box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
}
